# IntelliJ IDEA
.idea/

# Compiled files
out/
target/

# Dependency directories
.idea_modules/
.ideaLibs/
/node_modules
/.pnp
.pnp.js

# Editor-specific files
*.iml
*.ipr
*.iws

# Log files
*.log

# User-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/

# Project-specific settings
.idea/ReebeloCaseStudyWebsite.iml

# .DS_Store (if you're using macOS)
.DS_Store

# next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts
